@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap);

:root {
    
    --primary-color: #8b8c89;    
    --secondary-color: #e7ecef;   
    --accent1-color: #ba181b;    
    --accent2-color: #004e98;     

    /* Fonts from your site plan */
    --heading-font: 'Lato', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    max-width: 1200px; 
    margin: 0 auto;    
    font-family: var(--text-font); 
}

/* Headings */
h1, h2 {
    font-family: var(--heading-font); 
    color: var(--primary-color); 
}

h1 {
    font-size: 3.5em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent1-color);
    text-align: center;
    border: 2px solid black;
}

h2 {
    font-size: 1.8em;
}


p {
    color: var(--primary-color); 
    font-size: 1em;
    line-height: 1.6;
}


.hero {
    position: relative;
    height: 450px;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}


article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color); 
    padding: 20px;
    max-width: 600px;
}

article img {
    float: right;
    max-width: 150px;
    margin-left: 20px;
}


footer a {
    text-decoration: none; 
}


footer img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

section img {
    width: 300px;              
    height: 350px;            
    object-fit: cover;      
    display: block;    
    margin: 10px;           
    border: 2px solid var(--accent2-color);
    border-radius: 5px;        
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}