:root{
    /* Colors */
    --primary-color: #8b8c89;
    --secondary-color: #e7ecef;
    --accent1-color: #ba181b;
    --accent2-color: #004e98;

    /* Fonts */
    --heading-font: 'Lato', sans-serif;
    --text-font: 'Roboto', sans-serif;

    /* Borders */
    --border-thin: 1px;
    --border-thick: 2px;
}

body{
    font-family: var(--heading-font)
    
}

h1{
    font-family: var(--text-font)
   
}
