:root{
    /* Colors */
    --primary-color: darkblue;
    --text-light: white;
    --text-dark: black;
    --shadow-color: gray;
    --accent-color: #ff0000;
    --light-gray: rgb(252, 252, 252);

    /* Spacing */
    --spacing-sm: 2px;
    --spacing-md: 10px;
    --spacing-lg: 20px;

    /* Borders */
    --border-thin: 1px;
    --border-thick: 2px;
}


nav{
    background-color: var(--primary-color);
    padding: var(--spacing-md);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--spacing-lg);
}

h1{
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-thin) solid var(--text-dark)k;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside{
    width: 300px;
    margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-md) 15px;
    border: var(--border-thick) solid var(--accent-color);
    padding: 3px;
    background-color: var(--text-dark);
    color: var(--light-gray);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    border-top: var(--border-thick) solid var(--text-dark);
    text-align: center;
}