nav{
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside{
    width: 300px;
    margin: 20px 20px 10px 15px;
    border: 2px solid #ff0000;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: rgb(252, 252, 252);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 40px;
    border-top: 2px solid black;
    text-align: center;
}